<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Beeline Shopping.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>881046D91C40647F00B0E955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>881046F01C40647F00B0E955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>881046FB1C40647F00B0E955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
